@inject Microsoft.AspNetCore.Identity.SignInManager<PhoneTracker.Models.ApplicationUser> signInManager
@if (signInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="text-white nav-link">Hello, @User.Identity.Name</li>
            <li><a class="text-white nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else {
<ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-white font-weight-bolder" asp-action="Register" asp-controller="Account">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white font-weight-bolder" asp-action="Login" asp-controller="Account">Login</a>
    </li>
</ul>
}
