<div class="slideshow-container">

    <div class="mySlides2">
        <img class="slideshow-image" id="2/1" src="~/6.png">
    </div>

    <div class="mySlides2">
        <img class="slideshow-image" id="2/2" src="~/8.png">
        
    </div>

    <div class="mySlides2">
        <img class="slideshow-image" id="2/3" src="~/7.png">
        
    </div>

    <div class="mySlides2">
        <img class="slideshow-image" id="2/4" src="~/5.png">
        
    </div>

    <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides2(1)">&#10095;</a>

</div>
<br>

<script>
let slideIndex2 = 1;
showSlides2(slideIndex2);

function plusSlides2(n) {
  showSlides2(slideIndex2 += n);
}

function currentSlide2(n) {
  showSlides2(slideIndex2 = n);
}

function showSlides2(n) {
  let i;
  var slides = document.getElementsByClassName("mySlides2");
  if (n > slides.length) {slideIndex2 = 1}
  if (n < 1) {slideIndex2 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex2-1].style.display = "block";
}
</script>