<div class="slideshow-container">

    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img class="slideshow-image" id="1/1" src="~/desc1.png">
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 3</div>
        <img class="slideshow-image" id="1/2" src="~/1.jpg">
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 3</div>
        <img class="slideshow-image" id="1/3" src="~/2.jpg">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  var slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
}
</script>