@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>PhoneTrackers' shift:</p>
    <p>Mon/Wen/Fri: 7:30-18:00</p>
    <p>Tue/Thu: 11:00-17:00</p>
    <p>Sat/Sun: Weekends</p>
</div>
