@{
    ViewData["Title"] = "Home Page";
}

<style>
    .info {
        margin-left: 60px;
        margin-right: 60px;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        min-height: 500px;
    }

    .left-item-holder {
        @*max-width: 50%;*@
        @*padding-right: 20px;*@
        @*margin-left: auto;
        margin-right: auto;*@
    }

    .right-item-holder {
        @*max-width: 50%;*@
        display: inline-flex;
        margin-left: auto;
    }

    img {
        max-block-size: 500px;
    }

    .mySlides, .mySlides2 {
        display: none;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        text-align: left;
    }

    .slideshow-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

        .active, .dot:hover {
            background-color: #717171;
        }
</style>

<div class="text-center">
    <div class="alert-heading">
        <h3>Phone Tracker-Online</h3>
        <p>In addition to your parential control</p>
    </div>
</div>
<div class="alert-secondary container-fluid">
    <div class="info">
        <div class="left-item-holder left-txt">
            <h2 style="font-weight: bolder;">Track your whole family</h2>
            <br />
            <p>Track your family members' locations at realtime or their locations history either from a browser or from the mobile Android application. You can also check your own location for better orientation!</p>
        </div>

        <div class="right-item-holder">
            <partial name="_SlideshowPartial" />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="info">
        <div class="left-item-holder" style="display: flex;">
            @*<partial name="_SlideshowPartial2" />*@
            <img src="~/4.jpg" style="width: 100%; height: 100%; object-fit: contain;">
            <img src="~/3.jpg" style="width: 100%; height: 100%; margin-left: 20px; object-fit: contain;">
        </div>

        <div class="right-item-holder right-txt" id="tpmgn" style="flex-direction: column;">
            <h2 style="font-weight: bolder;">Use special SMS messages to establish connection with Target</h2>
            <br />
            <p>In case you can't connect with the Tracked Target, Phone Tracker lets you get a tracked phone's locations through the SMS line, even when the app, installed on the Target's phone, is off! In order to do it, though, you'll have to set your Target a phone number!</p>
        </div>
    </div>
</div>
<div class="alert-secondary container-fluid">
    <div class="info">
        <div class="left-item-holder left-txt">
            <h2 style="font-weight: bolder;">Start tracking with ease</h2>
            <br />
            <p>Easily add your phones to your account and track them! On the photos here you can see the whole process of adding a phone!</p>
        </div>

        <div class="right-item-holder">
            <partial name="_SlideshowPartial2" />
        </div>
    </div>
</div>

<script>
    function onResize() {
        var i;
        var infos = document.getElementsByClassName("info");
        var slideshows = document.getElementsByClassName("slideshow-container");
        var leftHolders = document.getElementsByClassName("left-item-holder");
        var rightHolders = document.getElementsByClassName("right-item-holder");
        var leftTextHolders = document.getElementsByClassName("left-txt");
        var rightTextHolders = document.getElementsByClassName("right-txt");
        if (window.innerWidth < 1177) {
            for (i = 0; i < infos.length; i++) {
                infos[i].style.display = "block";
                infos[i].style.textAlign = "center";
                leftHolders[i].style.paddingRight = "";
                //leftHolders[i].style.maxWidth = "50%";
                rightHolders[i].style.maxWidth = "";
                //rightHolders[i].style.textAlign = "center";
                leftHolders[i].style.marginLeft = "";
                if (window.innerWidth < 610)
                    leftHolders[i].style.marginRight = "50%";
                else leftHolders[i].style.marginRight = "";
            }

            for (i = 0; i < leftTextHolders.length; i++) {
                leftTextHolders[i].style.maxWidth = "";
                leftTextHolders[i].style.marginRight = "";
            }

            for (i = 0; i < slideshows.length; i++) {
                slideshows[i].style.minWidth = "";
                //slideshows[i].style.minHeight = "500px";
            }

            @*document.getElementById("1/1").style.marginTop = "70px";
            document.getElementById("2/1").style.marginTop = "65px";
            document.getElementById("2/2").style.marginTop = "65px";
            document.getElementById("2/3").style.marginTop = "100px";*@
            document.getElementById("tpmgn").style.marginTop = "30px";
        }
        else {
            for (i = 0; i < infos.length; i++) {
                infos[i].style.display = "flex";
                infos[i].style.textAlign = "";
                leftHolders[i].style.paddingRight = "20px";
                //leftHolders[i].style.maxWidth = "50%";
                rightHolders[i].style.maxWidth = "";
                //rightHolders[i].style.textAlign = "right";
                leftHolders[i].style.marginLeft = "";
                leftHolders[i].style.marginRight = "auto";
            }

            for (i = 0; i < leftTextHolders.length; i++) {
                leftTextHolders[i].style.maxWidth = "50%";
            }

            for (i = 0; i < rightTextHolders.length; i++) {
                rightTextHolders[i].style.maxWidth = "50%";
            }

            for (i = 0; i < slideshows.length; i++) {
                slideshows[i].style.minWidth = "687px";
                slideshows[i].style.minHeight = "";
            }

            @*document.getElementById("1/1").style.marginTop = "";
            document.getElementById("2/1").style.marginTop = "";
            document.getElementById("2/2").style.marginTop = "";
            document.getElementById("2/3").style.marginTop = "";*@
            document.getElementById("tpmgn").style.marginTop = "";
        }
    }

    window.onload = onResize;

    window.onresize = onResize;
</script>
