@{
    ViewData["Title"] = "Home Page";
}

<style>
    .info {
        margin-left: 60px;
        margin-right: 60px;
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .left-item-holder {
        max-width: 50%;
        padding-right: 20px;
        margin-right: auto;
    }

    .right-item-holder {
        max-width: 50%;
        display: inline-flex;
        margin-left: auto;
    }

    img {
        max-block-size: 500px;
    }

    .mySlides {
        display: none
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .active, .dot:hover {
            background-color: #717171;
        }
</style>

<div class="text-center">
    <div class="alert-heading">
        <h3>Phone Tracker-Online</h3>
        <p>In addition to your parential control</p>
    </div>
</div>
<div class="alert-secondary container-fluid" style="align-items: center;">
    <div class="info">
        <div class="left-item-holder">
            <h2 style="font-weight: bolder;">Track your whole family</h2>
            <br />
            <p>Track your family members' locations at realtime either from a browser or from the mobile Android application. You can also check your own location for better orientation!</p>
        </div>

        <div class="right-item-holder">
            <partial name="_SlideshowPartial" />
        </div>
    </div>
</div>
<div class="container-fluid" style="align-items: center;">
    <div class="info">
        <div class="left-item-holder">
            <img src="~/desc1.png" style="width: 100%; height: 100%;" />
        </div>

        <div class="right-item-holder" style="flex-direction: column;">
            <h2 style="font-weight: bolder;">Use special SMS messages to re-establish connection with Target</h2>
            <br />
            <p>In case the Target's phone loses connection or the "GPS Tracker" application isn't started, the <b>SMS Feature</b> really saves lifes! In other words, the <b>SMS Feature</b> 
            allows you just by sending SMS to trigger the application's service on the Target's phone and bring it back online, or retrieve back location through SMS, usually when there's no Internet connection on Target phone.
            And all that can be done just by sending SMS Messages between you and the Target's phone.</p>
            <br />
            <p><i>The whole magic happens as shown on the picture</i></p>
        </div>
    </div>
</div>
