@{ 
    Layout = null;
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="map" id="map" style="width:100%; height:99%;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE_BVIxNCy8kZ1S2sEk3bRgpMTuu3c1Nc&v=3.exp&sensor=false"></script>
<script type="text/javascript" src="~/js/maps.js"></script>