@{
    Layout = null;
}
@model PhoneTrackerOnline.Models.User;

<head>
    <title>Track with Phone Tracker-Online</title>
    <style>
        body {
            margin-bottom: 0px !important;
        }

        .listHeading {
            font-size: 24px;
            box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
            height: 50px;
            background-color: #ebebeb;
            flex-direction: row;
            display: flex;
        }

        .centered-text {
            transform: translateY(15%);
        }

        .center-aligned-text {
            text-align: center;
        }

        .listContent {
            flex-direction: column;
            background-color: #dedede;
        }

        .list {
            width: 400px;
            height: 94%;
            overflow-y: scroll;
            overflow-x: visible;
        }
    </style>
</head>

<header>
    <partial name="_NavbarPartial" />
</header>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<input type="hidden" id="signalRConnectionId" />

<div>
    <nav class="nav navbar navbar-expand-sm">
        <div class="container">
            <div class="navbar-nav flex-grow-1">
                <button id="currentLocBtn" class="nav-link text-dark font-weight-bolder btn btn-light">CURRENT LOCATION</button>
            </div>
            <div class="navbar-nav flex-grow-1 flex-sm-row-reverse">
                <button id="locsListBtn" class="nav-link text-dark font-weight-bolder btn btn-light">SHOW LOCATIONS LIST</button>
                <button id="phonesListBtn" class="nav-link text-dark font-weight-bolder btn btn-light">SHOW PHONES LIST</button>
            </div>
        </div>
    </nav>
    <div style="display: flex; flex-direction: row; height:87%;">
        <div class="map" id="map" style="width:100%;"></div>
        <div class="listContent" id="phonesList">
            <div class="listHeading">
                <p class="centered-text center-aligned-text" style="margin-left: 10px;">Phones List</p>
                <button type="button" class="btn btn-light" id="addBtn" style="margin-left: 210px;" data-toggle="modal" data-target="#popupbox"><img src="~/add.png" /></button>
            </div>
            <div class="list">
                <ul style="list-style-type:none; padding-left: 0;">
                    @if(Model.TrackedPhones != null)
                    @foreach (var targetPhone in Model.TrackedPhones)
                    {
                        <li style="flex-direction:row; display: flex;">
                            <a class="btn btn-light" style="flex-direction:row; display: flex; padding-left: 0; width: 400px;">
                                <img src="~/phone.png" />
                                <div style="flex-direction:column;">
                                    <p class="centered-text">
                                        <b>@targetPhone.Name</b><br />
                                        @targetPhone.Code
                                    </p>
                                </div>
                                <p id="online" style="transform: translateY(37%); margin-left: 30px;">▲ONLINE</p>
                            </a>
                            <a class="btn btn-light" style="margin-left: 0px; margin-top: 0px; padding-bottom: 0;"><img src="~/edit.png" style="transform: translateY(120%);" /></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="listContent" id="locsList">
            <div class="listHeading">
                <p class="centered-text center-aligned-text" style="margin-left: 10px;">Locations List</p>
            </div>
            <div class="list">
                <ul style="list-style-type:none; padding-left: 0;">
                    <li style="flex-direction:row; display: flex;">
                        <a class="btn btn-light" style="flex-direction:row; display: flex; padding-left: 0; width: 400px;">
                            <img src="~/loc_icon_gray.png" style="margin-left: 10px;" />
                            <p style="margin-top: 3px; margin-left: 170px; text-align: right; position: absolute;">Time taken</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="listContent" id="popup"><partial name="_AddEditTargetPhone" /></div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE_BVIxNCy8kZ1S2sEk3bRgpMTuu3c1Nc&v=3.exp&sensor=false"></script>
<script type="text/javascript" src="~/js/maps.js"></script>
<script type="text/javascript" src="~/js/track-lists.js"></script>
<script type="text/javascript" src="~/SignalR/Scripts/jquery-1.6.4.js"></script>
<script>
    function ready() {
    }
    
    var userId = "/NotificationUserHub?userId=" + @Model.ID;
    document.addEventListener("DOMContentLoaded", ready);
</script>
<script type="text/javascript" src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/js/notification.js"></script>