@{
    ViewData["Title"] = "Not Supported!";
}

<div class="text-center">
    <h1 style="color: red;">Mobile Browsing Not Supported Here!</h1>
    <h3>You Cannot Access The Track Page Through Your Phone</h3>

    <p>We offer you a much more useful way of using Phone Tracker-Online, which is installing GPS Tracker-Online - a mobile application giving you all the features of Phone Tracker-Online</p>
</div>